<!-- views/partials/nav.ejs -->

<nav class="navbar navbar-default">
    <div class="container">
     <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">게시판</div>
     </div>
     <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
       <li><a href="/">Home</a></li>
       <li><a href="/about">About</a></li>
       <li><a href="/posts">게시판</a></li>
      </ul>
     </div>
    </div>
   </nav>