<!-- views/home/about.ejs -->

<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/nav %>
        <div class="container home home-about">
        <h1>About</h1>
            <p>이 사이트는 Kevin이 만들었습니다.</p>
        </div>
    </body>
</html>