<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/nav %>
        <div class="container home home-welcome">
            <div class="jumbotron">
            <h1>게시판</h1>
                    <p> 이 사이트는 node.js로 만들어졌습니다.</p>
            </div>
        </div>
    </body>
</html>