<!-- views/posts/edit.ejs -->

<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/head %>
 </head>
 <body>
  <% include ../partials/nav %>

  <div class="container post post-edit">
   <% include ./partials/header %>

   <div class="buttons">
    <a class="btn btn-default" href="/posts">Back</a>
   </div>

   <form class="post-form form-horizontal" action="/posts/<%= post._id %>?_method=put" method="post">
    <div class="contentBox">
     <h3 class="contentBoxTop">Edit Post</h3>
     <fieldset>
      <div class="form-group">
       <label for="title" class="col-sm-2 control-label">Title</label>
       <div class="col-sm-10">
        <input class="form-control" type="text" id="title" name="title" value="<%= post.title %>">
       </div>
      </div>
      <div class="form-group">
       <label for="body" class="col-sm-2 control-label">Body</label>
       <div class="col-sm-10">
        <textarea class="form-control" id="body" name="body" rows="5"><%= post.body %></textarea>
       </div>
      </div>
     </fieldset>
    </div>
    <div class="buttons">
     <button type="submit" class="btn btn-default">Submit</button>
    </div>
   </form>

  </div> <!-- container end -->
 </body>
</html>