<!-- views/posts/index.ejs -->

<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/head %>
 </head>
 <body>
  <% include ../partials/nav %>

  <div class="container post post-index">
   <% include ./partials/header %>

   <div class="buttons">
    <a class="btn btn-default" href="/posts/new">새글</a>
   </div>

   <table class="table table-striped posts">
    <thead>
     <tr>
      <th class="title">Title</th>
      <th class="writer">작성자</th>
      <th class="date">Date</th>
     </tr>
    </thead>
    <tbody>
     <% if(posts == null || posts.length == 0){ %>
      <tr>
       <td class="noData" colspan=100> 검색된 데이터가 없습니다. :( </td>
      </tr>
     <% } %>
     <% posts.forEach(function(post) { %>
      <tr>
       <td class="title">
        <a href="/posts/<%= post._id %>"><div><%= post.title %></div></a>
       </td>
       <td class="writer">
           <a href="/posts/<%= post._writer %>"<div><%= post.writer %></div></a>
       </td>
       <td class="date">
        <%= post.createdDate %>
       </td>
      </tr>
     <% }) %>
    </tbody>
   </table>
  </div> <!-- container end -->
 </body>
</html>