<!-- views/posts/new.ejs -->

<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/head %>
 </head>
 <body>
  <% include ../partials/nav %>

  <div class="container post post-new">
   <% include ./partials/header %>

   <div class="buttons">
    <a class="btn btn-default" href="/posts">뒤로가기</a>
   </div>

   <form class="post-form form-horizontal" action="/posts" method="post">
    <div class="contentBox">
     <h3 class="contentBoxTop">새글</h3>
     <fieldset>
      <div class="form-group">
          <label for="writer" class="col-sm-2 control-label">작성자</label>
          <div class="col-sm-10">
              <input class="form-control" type="text" id="writer" name="writer" value="">
          </div>
      </div>
      
      <div class="form-group">
       <label for="title" class="col-sm-2 control-label">제목</label>
       <div class="col-sm-10">
        <input class="form-control" type="text" id="title" name="title" value="">
       </div>
      </div>
      
      <div class="form-group">
       <label for="body" class="col-sm-2 control-label">내용</label>
       <div class="col-sm-10">
        <textarea class="form-control" id="body" name="body" rows="5"></textarea>
       </div>
      </div>
     </fieldset>
    </div>
    <div class="buttons">
     <button type="submit" class="btn btn-default">저장</button>
    </div>
   </form>

  </div> <!-- container end -->
 </body>
</html>